/* Import czcionki */
@import url('https://fonts.googleapis.com/css2?family=Sarabun:ital,wght@0,100;0,200;0,600;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

/* Styl strony */

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Sarabun", sans-serif;
}

a {
    text-decoration: none;
    color: #EEEBE5;
    transition: color 0.3s ease;
}

a:hover {
    color: #B59251 !important;
}

.logo a:hover {
    color: #EEEBE5 !important;
}

.main h5 {
    font-size: 20px;
    color: #1B1D1B;
}

.skills h5 {
    font-size: 20px;
    color: #EEEBE5;
}

li {
    list-style: none;
}

nav {
    background-color: #16130D;
    position: sticky;
    top: 0;
    padding: 0 85px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    box-shadow: 0 5px 80px rgba(0, 0, 0, 0.1);
    z-index: 100;
}

nav .logo, footer .logo {
    display: flex;
    align-items: center;
}

nav .logo a, footer .logo a {
    margin-left: 8px;
    font-weight: bold;
    font-size: 20px;
}

nav .logo img, footer .logo img {
    width: 40px;
    height: 40px;
}

nav ul, footer .top ul {
    display: flex;
    gap: 40px;
}

.dropbtn {
    background-color: transparent;
    color: #EEEBE5;
    padding: 15px;
    font-size: 15px;
    border: 1px solid #EEEBE5;
}

.dropbtn i {
    margin-right: 5px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #EEEBE5;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  

.dropdown-content a {
    color: #16130D;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
  
.dropdown-content a:hover {background-color: #D3C5AB;}
  
.dropdown:hover .dropdown-content {display: block;}
  
.dropdown:hover .dropbtn {
    background-color: #B59251;
    transition: all 0.3s ease;
}

nav button {
    color: #EEEBE5;
    background-color: transparent;
    padding: 12px 16px;
    border-radius: 5px;
    border: 1px solid #EEEBE5;
    cursor: pointer;
    transition: all 0.3s ease;
}

nav button:hover {
    background-color: #B59251;
    border-color: #B59251;
    color: #eeebe5;
}

nav button#menuButton {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    padding: 7px;
    display: none;
}

.c-compare { /* Tutaj stylujemy kolor paska oraz skalujemy diva */
    --h: 5; /* tutaj wysokosc boxa */
    --m: 0rem 0; /* tutaj david margines */
    --w: 16; /* tutaj szerokosc boxa */
    --thumb-bgc: transparent;
    --thumb-w: 1rem;
  
    margin: var(--m);
    position: relative;
  }
  .c-compare::after {
    content: "";
    display: block;
    padding-bottom: calc((var(--h) / var(--w)) * 100%);
  }
  .c-compare__left,
  .c-compare__right {
    height: 100%;
    object-fit: cover;
    position: absolute;
    width: 100%;
  }
  .c-compare__left {
    clip-path: polygon(0% 0%, var(--value) 0%, var(--value) 100%, 0% 100%);
  }
  .c-compare__right {
    clip-path: polygon(100% 0%, var(--value) 0%, var(--value) 100%, 100% 100%);
  }
  .c-compare__range {
    background-color: transparent;
    box-sizing: border-box;
    font-family: inherit;
    height: 100%;
    margin: 0%;
    outline: none;
    position: absolute;
    top: 0;
    width: 100%;
  }
  .c-compare__range::-moz-range-thumb {
    background-color: var(--thumb-bgc);
    cursor: ew-resize;
    height: 100%;  
    width: var(--thumb-w);
  }
  .c-compare__range::-webkit-slider-thumb {
    background-color: var(--thumb-bgc);
    cursor: ew-resize;
    height: 100%;  
    width: var(--thumb-w);
  }

  /* UZYWAJAC TEGO SLIDER BEDZIE ROBIL EFEKT POP-UP PO PRZYTRZYMANIU, LATWIEJ SYGNALIZUJAC DZIALANIE
  .c-compare__range:focus::-webkit-slider-thumb {
    background-color: var(--thumb-bgc-focus);
    box-shadow: 0 0 0 3px var(--thumb-bgc);
  }
  .c-compare__range:focus::-moz-range-thumb {
    background-color: var(--thumb-bgc-focus);
    box-shadow: 0 0 0 3px var(--thumb-bgc);
  }
  */

  .c-compare__range::-moz-range-track {
    background: transparent;
    background-size: 100%;
    box-sizing: border-box;
  }
  .c-compare__range::-webkit-slider-runnable-track {
    background: transparent;
    background-size: 100%;
    box-sizing: border-box;
    height: 100%;
  }
  .c-compare__range,
  .c-compare__range::-webkit-slider-runnable-track,
  .c-compare__range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
  }

.main {
    background-color: #EEEBE5;
    padding: 90px 85px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}

.main .left {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.main .left h3 {
    margin-top: 10px;
    font-weight: bold;
    font-size: 46px;
}

.main .left h3 span {
    color: #755F37;
}

.main .left p {
    color: #16130D;
    font-size: 22px;
    margin-top: 20px;
}

.main .left button {
    margin-top: 40px;
    color: #eeebe5;
    cursor: pointer;
    background-color: #B59251;
    padding: 14px 24px;
    border: 1px solid transparent;
    border-radius: 5px;
}

.main .left button:hover {
    background-color: #16130D;
    transition: all 0.3s ease;
    scale: 110%;
}

.main .right img {
    width: 500px;
    background-color: #D3C5AB;
}

.skills {
    padding: 110px 85px 40px;
    background-color: #16130D;
}

.skills h3 {
    font-size: 40px;
    margin-top: 20px;
    color: #EEEBE5;
}
.about .right h3,
.portfolio .header h3
{
    font-size: 40px;
    margin-top: 20px;
}

.skills .skill-items {
    display: flex;
    margin-top: 70px;
    gap: 30px;
}

.skills .skill-items .item {
    background-color: #D3C5AB;
    width: 25%;
    border-radius: 10px;
    padding: 32px;
    border-bottom: 4px solid transparent;
    cursor: pointer;
    transition: all 0.3s ease;
}

.skills .skill-items .item:hover {
    border-color: #755F37;
    scale: 110%;
}

.skills .skill-items .item .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #eeebe5;
    width: 46px;
    height: 46px;
    border-radius: 10px;
    margin-bottom: 22px;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.1);
}

.skills .skill-items .item .icon i {
    font-size: 26px;
    color: #B59251;
}

.skills .skill-items .item h4,
.portfolio .portfo-items .item .info h4{
    font-size: 18px;
}

.skills .skill-items .item p {
    margin-top: 20px;
    font-size: 14px;
    font-weight: 600;
    line-height: 22px;
    color: #16130D;
}

.about {
    padding: 110px;
    display: flex;
    align-items: center;
    gap: 60px;
    background-color: #D3C5AB;
}

.about .left {
    background-color: #EEEBE5;
    border-radius: 10px 10px 0 0;
}

.about .left img {
    width: 440px;
}

.about .right p {
    font-size: 16px;
    margin-top: 30px;
}

.portfolio {
    background-color: #EEEBE5;
    padding: 110px 85px;
}

.portfolio .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 60px;
}

.portfolio .header button {
    background-color: #B59251;
    padding: 15px 25px;
    color: #eeebe5;
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 8px;
    border: none;
    border-radius: 10px;
}

.portfolio .header button:hover {
    background-color: #16130D;
    scale: 110%;
    transition: all 0.3s ease;
}

.portfolio .header button i {
    font-size: 26px;
}

.portfolio .portfo-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.portfolio .portfo-items .item {
    width: 30%;
    background-color: #D3C5AB;
    border-radius: 10px;
    border-bottom: 4px solid transparent;
    cursor: pointer;
    box-shadow: 0 5px 32px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.portfolio .portfo-items .item:hover {
    border-color: #B59251;
    scale: 110%;
}

.portfolio .portfo-items .item img {
    width: 100%;
    height: 240px;
    object-fit: cover;
    object-position: top;
    border-radius: 10px 10px 20px 20px;
}

.portfolio .portfo-items .item .info {
    display: flex;
    flex-direction: column;
    gap: 14px;
    padding: 20px 32px 42px;
}

.portfolio .portfo-items .item .info p {
    font-size: 13px;
}

.portfolio .portfo-items .item .info a {
    text-decoration: underline;
    text-underline-offset: 10px;
    color: #16130D;
    text-decoration-color: #B59251;
}

.portfolio .portfo-items .item .info a i {
    margin-left: 2px;
    font-size: 16px;
}

footer {
    background-color: #16130D;
    padding: 85px;
    display: flex;
    flex-direction: column;
}

footer .top, footer .bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer .top .social-links {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 22px;
}

footer .separator {
    width: 100%;
    height: 1px;
    background-color: #282932;
    margin: 30px 0 20px;
}

footer .bottom p {
    font-size: 12px;
}

footer .bottom links a {
    font-size: 12px;
    margin-left: 14px;
}

@media screen and (max-width: 1200px) {
    
    .main .left h5 {
        font-size: 18px;
    }

    .main .left h3 {
        font-size: 36px;
    }

    .main .left p {
        font-size: 18px;
    }

    .main .right img {
        width: 300px;
    }

    .skills .skill-items {
        gap: 10px;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .skills .skill-items .item {
        width: 49%;
    }

    .about .left img {
        width: 370px;
    }

    .skills h3,
    .about .right h3,
    .portfolio .header h3
    {
        font-size: 32px;
    }

    .about .right p {
        font-size: 15px;
    }

    footer .top ul {
        gap: 20px;
    }
}

@media screen and (max-width: 992px) {

    nav .dropdown .dropbtn {
        scale: 50%;
        font-size: 25px;
    }

    nav ul{
        gap: 20px;
    }

    nav ul li a {
        font-size: 15px;
    }

    .main {
        flex-direction: column;
    }

    .about {
        flex-direction: column;
        justify-content: center;
    }

    .portfolio .portfo-items {
        gap: 22px;
        flex-wrap: wrap;
        justify-content: center;
    }

    .portfolio .portfo-items .item {
        width: 48%;
    }

    footer .top ul {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    nav {
        justify-content: space-between;
        padding: 0 42px;
    }

    nav ul {
        display: none;
    }

    nav.open .logo {
        display: none;
    }

    nav.open ul {
        display: flex;
    }

    nav button {
        display: flex;
    }

    nav button#menuButton {
        display: block;
    }

    nav .dropdown .dropbtn {
        scale: 100%;
        font-size: 15px;
    }

    .main {
        padding: 42px;
    }

    .skills {
        padding: 85px 42px 0;
    }

    .skills .skill-items {
        gap: 8px;
    }

    .about {
        padding: 85px 42px;
    }

    .portfolio {
        padding: 60px 42px;
    }

    .portfolio .portfo-items {
        gap: 18px;
    }

    footer {
        padding: 85px 42px;
    }

    footer .bottom {
        flex-direction: column-reverse;
        gap: 14px;
    }
}

@media screen and (max-width: 576px) {
    
    nav ul li a {
        font-size: 13px;
    }

    nav .logo a {
        font-size: 18px;
    }

    .main .left h3 {
        font-size: 32px;
    }

    .main .left p {
        font-size: 16px;
    }

    .main .left button {
        width: 100%;
    }

    .skills .skill-items .item {
        width: 100%;
    }

    .portfolio .header button {
        font-size: 12px;
        padding: 8px 14px;
    }

    .portfolio .portfo-items .item {
        width: 80%;
    }



}